<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>

    <form action="/createuser" method="post">
        <input type="text" name="username" placeholder="Enter your username"/> <br/>
        <input type="password" name="password1" placeholder="Enter your password"/> <br/>
        <input type="password" name="password2" placeholder="Enter your password again"/> <br/>
        <button type="submit">Create user</button> <br/>
    </form>

    <form action="/home" method="get">
        <button type="submit">Back to home</button>
    </form>

    <div><p th:text="${message}"></p></div>


</head>
<body>

</body>
</html>